.custom-hr {
  border: none;
  border-top: 2px solid #b3b1b1;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.page__content p.subsection {
    margin-bottom: 0.25em;
    font-size: 1.1em;
    font-weight: bold;
}

.page__content p.main_text {
    margin-bottom: 0.5em;
    font-size: 1em;
    text-align: justify;
}