.title-hr {
  border: none;
  border-top: 2px solid #b3b1b1;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.subtitle-hr {
  border: none;
  border-top: 1px solid #b3b1b1;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.page__content p.subsection {
    margin-bottom: 0.25em;
    font-size: 1.1em;
    font-weight: bold;
}

.page__content p.main_text {
    margin-bottom: 0.5em;
    font-size: 1em;
    text-align: justify;
}

.ai-google-scholar {
  color: #4285F4;  // Google scholar blue
}

.author__urls .fa-location-dot {
  color: #e74c3c;  // Red
}

/* style the author links list */
.author__urls li {
  display: flex;
  align-items: left;
}

/* give icon a fixed width */
.author__urls i {
  width: 1.5em;
  text-align: center;    // icon center in the box
  margin-right: 0.5em;
}

.paper-figure-png {
  max-width: 600px;
  margin: 2em auto;        // figure 本身居中（建立中心轴）
}

.paper-figure-png img {
  display: block;          // 去掉 inline 偏移
  margin-left: auto;
  margin-right: auto;     // ⭐ img 的几何中心 = figure 中心
}

.paper-figure-png figcaption {
  margin-top: 0.6em;
  margin-left: auto;
  margin-right: auto; 
  font-size: 0.9em;
  // color: var(--global-text-color-light);
}

.archive__item-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0;
}

.archive__item-cover {
  flex: 0 0 auto;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;  
  background: #fff;
  border: 2px solid  #998e8e;
  border-radius: 4px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
  }
}

.archive__item-content {
  flex: 1;
  display: flex;
  align-items: flex-start;   // ⭐ 顶部对齐
}